# Ignore these files
oc-config.php*
/phpmyadmin
*.swp
*.code-workspace
.htaccess
info.php
.github/
*.bak*
.travis.yml
.crowdin.ymlW
.vscode
.MESSAGE
patch.diff
mirror_ssh
log_file
sql.php
*adminer*.php
web.configW
errorlog
apiAuth.inc.php
test.php
test1.php
/oc-content/plugins/_oc-map
/oc-content/plugins/oc-map
/oc-api/docs/postman_doc_gen.exe
/oc-api/docs/OpenCAD API 1.0.0.postman_collection.json
/old
/ips
