# Ignore these files
oc-config.php*
/phpmyadmin
*.swp
*.code-workspace
.htaccess
info.php
.github/
*.bak*
.travis.yml
.crowdin.ymlW
.vscode
.MESSAGE
patch.diff
mirror_ssh
log_file
sql.php
*adminer*.php
web.configW
errorlog
oc-content/themes/default/includes/header.inc.php
