# Ignore these files
oc-config.php*
/phpmyadmin
*.swp
*.code-workspace
.htaccess
info.php
.github/
*.bak*
.travis.yml
.crowdin.yml
.vscode
.MESSAGE
patch.diff
oc-lang/*
sql.php
adminner.php
*web.config*
mirror_ssh
log_file


# Include these exceptions
!oc-lang/index.php