RewriteEngine on
RewriteCond %{REQUEST_FILENAME} -d
ErrorDocument 403 /oc-content/plugins/error/static/403.php
ErrorDocument 404 /oc-content/plugins/error/static/404.php
ErrorDocument 502 /oc-content/plugins/error/static/502.php
ErrorDocument 503 /oc-content/plugins/error/static/503.php
Options -Indexes