### Begin ErrorPages ###
ErrorDocument 403 \oc-install/plugins/error/static/403.php
ErrorDocument 404 \oc-install/plugins/error/static/404.php
ErrorDocument 502 \oc-install/plugins/error/static/502.php
ErrorDocument 503 \oc-install/plugins/error/static/503.php
### End ErrorPages ###